 :root {
     --pf-primary: #2EBC9C;
     --pf-secondary: #2C3E50;
     --pf-light-grey: #3A546D;
 }

 /* #region dedubg */
 .debug [class*="col"] {
     height: 100px;
     border: 1px dashed rgb(0, 0, 0);
 }

 /* #endregion debug */

 .mint_bg {
     background-color: var(--pf-primary);
 }

 .secondary_bg {
     background-color: var(--pf-secondary);
 }

 .light_grey_bg {
     background-color: var(--pf-light-grey);
 }

 #header_nav {
     background-color: var(--pf-secondary);
 }

 .jumbo_img {
     width: 30%;
 }

 .star_rule {
     width: 100px;
     height: 3px;
     background-color: white;
     border-radius: 40px;
 }

 .mint_text {
     color: var(--pf-primary);
 }